<div class="card m-3">
  <div class="card-body">

    <div class="calculator row">
      <div class="col-12">
        <app-calculator></app-calculator>
      </div>
    </div>

    <div class="row">
      <div class="col mt-4 text-center">
        <app-card [backgroundColor]="'#99B898'">
          <p>Total Investment</p>
          <p>R$ {{planner.calculateInvestment()}}</p>
        </app-card>
      </div>

      <div class="col mt-4 text-center">
        <app-card [backgroundColor]="'#2A363B'" [color]="'white'">
            <p>Profit</p>
            <p>R$ {{planner.calculateProfit()}}</p>
        </app-card>
      </div>

      <div class="col mt-4 text-center">
        <app-card [backgroundColor]="'#99B898'">
            <p>Currency</p>
          <p>{{planner.getCurrencyAmount() || 0}}</p>
        </app-card>
      </div>

      <div class="col mt-4 text-center">
        <app-card [backgroundColor]="'#2A363B'" [color]="'white'">
            <p>Taxes R$ / %</p>
            <p>R$ {{planner.getAmountSpentOnTaxes()}} / {{planner.getPercentAmountSpentOnTaxes() || 0}} %</p>
        </app-card>
      </div>


    </div>

    <div class="col-12 mt-4">
      <app-card>
          <div class="d-item text-center" style="overflow-x: auto">
            <table class="table table-striped">
              <thead class="thead-dark" >
              <tr>
                <th scope="col">#</th>
                <th scope="col">Amount</th>
                <th scope="col">Entry Price</th>
                <th scope="col">Entry Value</th>
                <th scope="col">Type</th>
                <th scope="col"></th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of planner.moviments; let i = index" [ngClass]="{'offMath': !item.check}">
                  <td>{{i + 1}}</td>
                  <td>{{(item.entryValue / item.entryPrice) * (1 - item.tax.toPercent())}}</td>
                  <td>{{item.entryPrice}}</td>
                  <td>{{item.entryValue}}</td>
                  <td>{{item.type}}</td>
                  <td>
                    <i class="fa fa-chevron-up" (click)="moveUpItem(i)"></i>
                    <i class="fa fa-chevron-down" (click)="moveDownItem(i)"></i>
                    <i class="fa fa-times" (click)="deleteItem(i)"></i>
                    <input type="checkbox" [(ngModel)]="item.check">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
      </app-card>
    </div>


  </div>
</div>
