<div class="d-flex left-bar flex-column">

  <div class="left-bar-header d-item px-3 py-5">
    <div class="header-content">

      <div class="header-img">

      </div>

      <div class="header-text">
        <span><b>Higor Fischer</b></span>
        <span>Analist</span>
      </div>

    </div>
  </div>


  <div class="left-bar-content d-flex d-item flex-column">

    <div class="p-3 content-item">
      <i class="fa fa-calculator pr-2"></i>Calculator
    </div>

    <div class=" accordion dropdown-list show collapsed" role="tablist" data-toggle="collapse" href=".collapsee" role="button">

      <div class="p-3 content-item" >
        <i class="fa fa-bank pr-2"></i> Another <span></span>
      </div>

      <div id="collapse" class="collapse collapsee" role="tabpanel">
        <div class="dropdown-item">
          Text number 1
        </div>
        <div class="dropdown-item">
          Text number 2
        </div>
        <div class="dropdown-item">
          Text number 3
        </div>
      </div>
    </div>

    <div class="accordion dropdown-list show collapsed" role="tablist" data-toggle="collapse" href=".collapsee2" role="button">

      <div class="p-3 content-item">
        <i class="fa fa-calendar pr-2"></i> Name <span></span>
      </div>

      <div id="collapse2" class="collapse collapsee2" role="tabpanel">
        <div class="dropdown-item">
          Text number 1
        </div>
        <div class="dropdown-item">
          Text number 2
        </div>
        <div class="dropdown-item">
          Text number 3
        </div>
      </div>
    </div>

    <div class="p-3 content-item" >
      <i class="fa fa-bar-chart pr-2"></i> Another
    </div>


  </div>
</div>
