<div class="container p-3">
  <div class="row">

    <div class="col-12 col-md-3">
      <div class="card ">
        <div class="card-body">
          <div class="d-item py-5 text-center">
            <div> Projection Values</div>

            <div class="input-group input-group-sm py-2">
              <span class="input-group-addon">R$</span>
              <input [(ngModel)]="buyPrice" type="text" class="form-control" placeholder="Buy Price" aria-describedby="sizing-addon2">
            </div>

            <div class="input-group input-group-sm py-2">
              <span class="input-group-addon">R$</span>
              <input [(ngModel)]="buyAmount" type="text" class="form-control" placeholder="Buy Amount" aria-describedby="sizing-addon2">
            </div>

            <div class="input-group input-group-sm py-2">
              <span class="input-group-addon">%</span>
              <input [(ngModel)]="expectedProfit" type="text" class="form-control" placeholder="Expected Profit" aria-describedby="sizing-addon2">
            </div>

            <div class="input-group input-group-sm py-2">
              <span class="input-group-addon">%</span>
              <input [(ngModel)]="buyTax" type="text" class="form-control" placeholder="Buy Tax" aria-describedby="sizing-addon2">
            </div>

            <div class="input-group input-group-sm py-2">
              <span class="input-group-addon">%</span>
              <input [(ngModel)]="sellTax" type="text" class="form-control" placeholder="Sell Tax" aria-describedby="sizing-addon2">
            </div>

            <button class="btn btn-outline-dark mt-5" (click)="calculateProjection()">Calculate</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-9">
      <div class="card">
        <div class="card-body ">
          <div class="d-item text-center">
            <table class="table table-responsive table-stripeds">
              <thead class="thead-dark" >
              <tr>
                <th scope="col">#</th>
                <th scope="col">Buy Value</th>
                <th scope="col">Sell Value</th>
                <th scope="col">Nominal Gain</th>
                <th scope="col">Real Gain</th>
                <th scope="col">Gross Gain</th>
                <th scope="col">After Taxes Gain</th>
                <!--<th scope="col">Expected Profit</th>-->
                <!--<th scope="col">Final Error</th>-->
                <th scope="col">Final Profit</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let projection of projections; let i = index">
                <td>{{i + 1}}</td>
                <td> R$ {{projection.buyPrice}}</td>
                <td> R$ {{projection.sellPrice()}}</td>
                <td>{{projection.nominalGain()}}%</td>
                <td>{{projection.realGainInPercentage()}}%</td>
                <td>R$ {{projection.grossGainValue()}}</td>
                <td>R$ {{projection.sellValueWithoutTaxes()}}</td>
                <!--<td>R$ {{projection.expectedProfitValue()}}</td>-->
                <!--<td>{{projection.finalExpectedValueRealValueErrors()}}%</td>-->
                <td>R$ {{projection.finalProfit()}}</td>
              </tr>


              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<div class="cotainer">
  <div class="row">
    <div class="col-10 m-auto py-3 my-md-0 col-md-4">
      <div class="card ml-md-4" style="background-color: #1ab394; color: white;">
        <div class="card-body">
          <div class="d-item text-center">
            <h4><b>Current Currency:</b></h4>
            <h5>{{calculateAmountOfCurrency(projections)}}</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-10 m-auto py-3 my-md-0 col-md-4">
      <div class="card" style="background-color: #23c6c8; color: white;">
        <div class="card-body">
          <div class="d-item  text-center">
            <h4><b>Average Currency Price:</b></h4>
            <h5>R$ {{calculateAvaregeCurrencyPrice(projections) ? calculateAvaregeCurrencyPrice(projections) : 0 }}</h5>
          </div>
        </div>
      </div>

    </div>
    <div class="col-10 m-auto py-3 my-md-0 col-md-4">
      <div class="card" style="background-color: #2a363B; color: white;">
        <div class="card-body">
          <div class="d-item text-center">
            <h4><b>Overall Profit:</b></h4>
            <h5>R$ {{calculateOverallProjectionProfit(projections)}}</h5>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>


