.d-flex{
  //width: 85vw;
}

input{
  font-size: 0.9em;
}

.card{
  border-radius: 10px;
  height: 100%;
  background: #1b262d;
  color: white;
}

app-input{
  display: inline;
  width: 50%;
}

.label{
  position: relative;
  float: left;
  font-size: 0.7em;
}
